# Segmenting and Clustering Neighborhoods in Toronto

### Introduction

For this assignment, I will be required to explore and cluster the neighborhoods in Toronto. This is the Jupyter notebook created for this interesting assignment. First of all, we will use *pandas.read_html(url)* function to scrape the neighborhood information from this Wikipedia web page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M.

Turn out, it is relatively straightforward the information from the web page. *pandas.read_html(url)* requires one additional tool to be installed in the conda which is *lxml*.

In [ ]:
import pandas as pd

Install the *lxml* tool in the Jupyter notebook environment.

In [2]:
!conda install -c anaconda lxml --yes

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /home/jupyterlab/conda/envs/python

  added / updated specs:
    - lxml


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2020.1.1   |                0         132 KB  anaconda
    certifi-2020.4.5.1         |           py36_0         159 KB  anaconda
    lxml-4.5.0                 |   py36hefd8a0e_0         1.6 MB  anaconda
    openssl-1.1.1g             |       h7b6447c_0         3.8 MB  anaconda
    ------------------------------------------------------------
                                           Total:         5.6 MB

The following packages will be UPDATED:

  lxml                       conda-forge::lxml-3.8.0-py36_0 --> anaconda::lxml-4.5.0-py36hefd8a0e_0

The following packages will be SUPERSEDED by a higher-priority channel:

  ca-certificates    conda-forge::ca-certificates-2020.4.5~ --> anaconda::ca-certificates-2020.1.1-0
  certifi            conda-forge::certifi-2020.4.5.1-py36h~ --> anaconda::certifi-2020.4.5.1-py36_0
  openssl            conda-forge::openssl-1.1.1g-h516909a_0 --> anaconda::openssl-1.1.1g-h7b6447c_0



Downloading and Extracting Packages
certifi-2020.4.5.1   | 159 KB    | ##################################### | 100%
lxml-4.5.0           | 1.6 MB    | ##################################### | 100%
openssl-1.1.1g       | 3.8 MB    | ##################################### | 100%
ca-certificates-2020 | 132 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Read the Wikipedia web page using *pandas.read_html(url)*

In [6]:
dfs = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [30]:
dfs[0].head(10)

  Postal Code           Borough                                 Neighborhood
0         M1A      Not assigned                                          NaN
1         M2A      Not assigned                                          NaN
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
7         M8A      Not assigned                                          NaN
8         M9A         Etobicoke                             Islington Avenue
9         M1B       Scarborough                               Malvern, Rouge

Let's display the *shape* of the data.

In [10]:
dfs[0].shape

(180, 3)

Now comes the *wrangle* the data and data *cleaning* part. Let's query all the data which *Borough* is not *Not assigned*.

In [11]:
toronto_df = dfs[0].loc[dfs[0]['Borough'] != 'Not assigned']

In [12]:
toronto_df

,Postal Code,Borough,Neighborhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,Business reply mail Processing Centre
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

Checking make sure that *Not assigned* value is not in *Neighborhood* field.

In [17]:
toronto_df.loc[toronto_df['Neighborhood'] == 'Not assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

In [18]:
toronto_df.loc[toronto_df['Neighborhood'] == 'NaN']

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

Checking the *Borough* values.

In [24]:
toronto_df.groupby('Borough')['Postal Code'].nunique()

Borough
Central Toronto      9
Downtown Toronto    19
East Toronto         5
East York            5
Etobicoke           12
Mississauga          1
North York          24
Scarborough         17
West Toronto         6
York                 5
Name: Postal Code, dtype: int64

Checking the *Postal Code*

In [26]:
groupby_df = toronto_df.groupby('Postal Code')['Postal Code'].nunique()

Checking the *groupby_df.shape*

In [27]:
groupby_df.shape

(103,)

Finally, checking the *toronto_df.shape*

In [28]:
toronto_df.shape

(103, 3)